<div class="large-3 small-12 column">
   <%= image_tag  @movie.poster%>
   <% if !@movie.video_id.nil?  %>
	   <%=link_to @movie.video do%>
	      <%=image_tag asset_path("trailer.jpg")%>
	   <%end%>
   <% end %>
</div>
<div class="large-9 small-12 column">
 <h3>
    <%= @movie.title %>
    (<%= @movie.release_year %>)
    <%=link_to @movie.imdb do%>
      <%=image_tag asset_path("imdb_logo.png")%>
    <%end%>
  </h3>
 <p class="label movie-label radius mb1">
  <%= (current_user && current_user.purchase?(@movie)) ? "Purchased" : "$#{@movie.price}" %>
</p>
  
  <p><%= @movie.desciption%></p>
  <%=social_share_button_tag(@movie.title, :url =>"#{@movie.imdb}", :popup => "true",:image =>"#{ @movie.poster}", desc:"#{@movie.desciption}" , via: "MyTwitterName") %>
  <%if signed_in?%>
    <%if current_user.purchase? @movie %>
        <div class="flex-video">
           <iframe src= '<%= @movie.video_url%>' height="480" width="640" allowfullscreen="" frameborder="0"></iframe>
           
        </div>
    <%else%>
        <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@movie), removeUrl: remove_from_cart_path(@movie)} do%>
          <i class="fi-shopping-cart"></i>
          <span><%=@cart_action%></span> Cart
        <%end%>
    <%end%>
  <%end%>
</div>